<mat-card>
    <mat-card-header>
        <div class="left">
            <mat-card-title>{{landmark.name}}</mat-card-title>
        </div>
        <div class="right">
            <mat-card-subtitle>
                <a href={{landmark.website}} target="_blank">Visit the website</a>
            </mat-card-subtitle>
        </div>
    </mat-card-header>
    <mat-card-content>
        <img mat-card-md-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg">
        <p>{{landmark.description}}</p>
    </mat-card-content>
</mat-card>